/* Init variables */

:root {
    --emulated-100vh: 100vh;
    --height-main-nav: 0px;
    --height-mobile-nav: 0px;
    --target-height-trade-data: 0px;
    --target-height-recent-trades-data: 0px;
    --target-height-my-offers-data: 0px;
}

/* Js sizing */

.column-height {
    height: calc(
                  var(--emulated-100vh)
                  - var(--height-main-nav)
                );
}
    
.half-column-height {
    height: calc(
                  (
                    var(--emulated-100vh)
                    - var(--height-main-nav)
                  )
                  / 2
                );
}

.rest-of-height {
    height: calc(var(--emulated-100vh)
                 - var(--height-main-nav)
                );
}

@media (max-width: 991px) {
    .sm-rest-of-height {
        height: calc(var(--emulated-100vh)
                     - var(--height-main-nav)
                     - var(--height-mobile-nav)
                    ) !important;
    }
}

#trade-data {
    height: var(--target-height-trade-data);
}

#transactions-data {
    height: var(--target-height-recent-trades-data);
}

#my-offers-data {
    height: var(--target-height-my-offers-data);
}

/* Outline button */

.btn-outline-green {
    color: var(--color-green);
    border-color: var(--color-green);
}

.btn-check:active+.btn-outline-green, .btn-check:checked+.btn-outline-green, .btn-outline-green.active, .btn-outline-green.dropdown-toggle.show, .btn-outline-green:active {
    color: var(--color-primary);
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.btn-outline-red {
    color: var(--color-red);
    border-color: var(--color-red);
}

.btn-check:active+.btn-outline-red, .btn-check:checked+.btn-outline-red, .btn-outline-red.active, .btn-outline-red.dropdown-toggle.show, .btn-outline-red:active {
    color: var(--color-primary);
    background-color: var(--color-red);
    border-color: var(--color-red);
}

@media (max-width: 991px) {
	/* Force column height on mobile */

    .sm-w-30 {
        width: 30% !important;
    }
    
    .sm-w-70 {
        width: 70% !important;
    }
    
    .sm-w-100 {
        width: 100% !important;
    }
}

/* Separate list items */

.separate ~ .separate {
    border-top: 1px solid var(--color-border);
}

/* Fix containers with login or register hint */

#transactions-data, #my-offers-data {
    display: flex;
    flex-direction: column;
}

/* Transactions */

.transaction-item .status {
	background-color: var(--color-bg-light);
	border-radius: 10%;
	padding: 3px 8px;
	text-align: center;
	display: inline-block;
}

.transaction-item .noti-icon {
    width: 32px;
    height: 32px;
    background-color: var(--color-bg-light);
    color: var(--color-ultra);
}

/* Vertical tabs for fpmi list */

.ver-tabs {
    border-right: 2px solid var(--color-input);
    height: 100%;
}

.ver-tabs-item:has(.active) {
    background-color: var(--color-input);
}