Options -MultiViews -Indexes

RewriteEngine on

RewriteRule ^transaction/([^/]+)/?$ transaction.php [L]
RewriteRule ^settings/?$ settings.php [L]
RewriteRule ^settings/payment-methods/?$ settings_fpmi.php [L]
RewriteRule ^create_offer/?$ create_offer.php [L]
