<div class="countdown">
    <svg class="countdown-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="countdown-circle">
            <circle class="countdown-path-elapsed" cx="50" cy="50" r="45"></circle>
            <path stroke-dasharray="283" class="countdown-path-remaining"
                d="
                   M 50, 50
                   m -45, 0
                   a 45,45 0 1,0 90,0
                   a 45,45 0 1,0 -90,0
                "
            ></path>
        </g>
    </svg>
    <span class="countdown-label"></span>
</div>